<ion-content>
  <div id="conteudo">
    <div id="header-align">
      <span id="titulo">Resultado</span>
      <span id="texto">Veja a análise completa de seu prato abaixo:</span>
    </div>
    <div id="card">
      <img src="../../assets/resultado/1.svg">
      <div id="card-align">
        <span id="card-titulo">Ovo</span>
        <span id="card-texto">Lorem ipsum dolor sit amet, consectetur adipiscing elit ut aliquam, purus sit amet luctus</span>
      </div>
    </div>
    <div id="card">
      <img src="../../assets/resultado/2.svg">
      <div id="card-align">
        <span id="card-titulo">Linguiça</span>
        <span id="card-texto">Lorem ipsum dolor sit amet, consectetur adipiscing elit ut aliquam, purus sit amet luctus</span>
      </div>
    </div>
    <div id="card">
      <img src="../../assets/resultado/3.svg">
      <div id="card-align">
        <span id="card-titulo">Batata Frita</span>
        <span id="card-texto">Lorem ipsum dolor sit amet, consectetur adipiscing elit ut aliquam, purus sit amet luctus</span>
      </div>
    </div>
    <div id="card">
      <img src="../../assets/resultado/4.svg">
      <div id="card-align">
        <span id="card-titulo">Ketchup</span>
        <span id="card-texto">Lorem ipsum dolor sit amet, consectetur adipiscing elit ut aliquam, purus sit amet luctus</span>
      </div>
    </div>
    <div id="card">
      <img src="../../assets/resultado/5.svg">
      <div id="card-align">
        <span id="card-titulo">Refrigerante</span>
        <span id="card-texto">Lorem ipsum dolor sit amet, consectetur adipiscing elit ut aliquam, purus sit amet luctus</span>
      </div>
    </div>
    <button [routerLink]="['/home']">Voltar</button>
  </div>
</ion-content>