ion-content.background {
    --background: url(../../assets/scan/bg.jpeg) 0 0/100% 100% no-repeat;
}

#bg {
    position: absolute;
    height: 100%;
    width: 100%;
    z-index: 1;
    background-color: #0D1F3C;
    opacity: 80%;
}

#titulo {
    position: absolute;
    width: 100%;
    z-index: 3;
}

ion-toolbar {
    --background: transparent;
}

#tela {
    position: absolute;
    height: 100%;
    width: 100%;
    z-index: 2;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

ion-title {
    font-family: Titillium Web;
    font-style: normal;
    font-weight: 600;
    font-size: 1.6rem;
    line-height: 32px;
    text-align: center;
    color: #FFFFFF;
}

ion-icon {
    font-size: 1.6rem;
    color: #FFFFFF;
}

img {
    margin-top: 6rem;
    height: auto;
    width: 18rem;
}

#text-footer {
    font-family: Titillium Web;
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    line-height: 24px;
    text-align: center;
    color: #FFFFFF;
}

button {
    width: 11rem;
    height: 2.5rem;
    background: #347AF0;
    border-radius: 23px;
    font-family: Titillium Web;
    font-style: normal;
    font-weight: 600;
    font-size: 19px;
    line-height: 24px;
    text-align: center;
    color: #FFFFFF;
}