<ion-toolbar>
  <ion-buttons slot="start">
    <ion-icon name="chevron-back" id="header-icon" [routerLink]="['/login']"></ion-icon>
  </ion-buttons>
  <ion-title>Meu Prato</ion-title>
  <ion-buttons slot="end">
    <ion-icon name="ellipsis-vertical-outline" id="header-icon"></ion-icon>
  </ion-buttons>
</ion-toolbar>

<ion-content>
  <div id="conteudo">
    <img src="../../assets/home/scan.svg">
    <span id="text-footer">Verifique<br>seu primeiro prato!</span>
    <div id="menu-footer">
      <ion-tab-button>
        <ion-icon name="stopwatch-outline" id="footer-icon"></ion-icon>
        <ion-label>Histórico</ion-label>
      </ion-tab-button>
      <ion-tab-button [routerLink]="['/scan']">
        <ion-icon name="add-circle" id="add-icon"></ion-icon>
        <ion-label>Scan</ion-label>
      </ion-tab-button>
      <ion-tab-button [routerLink]="['/perfil']">
        <ion-icon name="person-circle-outline" id="footer-icon"></ion-icon>
        <ion-label>Perfil</ion-label>
      </ion-tab-button>
    </div>
  </div>
</ion-content>